body {
  font-family: 'helvetica', 'arial', sans-serif;
  background: #eee;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  flex-flow: column;
  padding: 2rem;
  max-width: 600px;
  width: 100%;
}
